body{
    text-align: center;
    margin: 50px;
    background: rgb(0,150,255);
    background: linear-gradient(90deg, rgba(0,150,255,1) 0%, rgba(255,0,0,1) 100%);
}
header{
    padding-top: 50px;
    padding-bottom: 50px;
}
.contenido{
    background-color: white;
    border-radius: 25px;
    padding-bottom: 50px;
    margin: 0px
}
h1{
    letter-spacing: 10px;
    font-family: inherit;
    color: black;
    font-size: 75px;
    padding-bottom: 25px;
}
form{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.form1{
margin-left: 10px;
}
.card{
    margin: 20px;
    border: 10px solid #03a9f4;
    border-radius: 25px;
}
.carrito{
    border: 10px solid rgb(240, 71, 71);
    border-radius: 25px;
}
.contenedor{
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


/* Boton de enlaces*/
button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
   }
   
   button.learn-more {
    width: 12rem;
    height: auto;
   }
   
   button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: rgb(0,150,255);
    background: linear-gradient(90deg, rgba(0,150,255,1) 0%, rgba(255,0,0,1) 100%);
    border-radius: 1.625rem;
   }
   
   button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
   }
   
   button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
   }
   
   button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
   }
   
   button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: black;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
   }
   
   button:hover .circle {
    width: 100%;
   }
   
   button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
   }
   
   button:hover .button-text {
    color: #fff;
   }



/*Mapa*/
#map {
	height: 500px;
	width: 70%;
    margin-left: 200px;
    border-radius: 25px;
    border: 10px solid black;
}